# {{ ansible_managed }}

LoadPlugin df

<Plugin df>
  FSType sysfs
  FSType proc
  FSType devtmpfs
  FSType devpts
  FSType tmpfs
  FSType fusectl
  FSType cgroup
  FSType overlay
  FSType debugfs
  FSType pstore
  FSType securityfs
  FSType hugetlbfs
  FSType squashfs
  FSType mqueue
  IgnoreSelected true
  ReportByDevice false
{% if ansible_distribution != 'Ubuntu' or ansible_distribution_major_version is version('20', '<') %}
  ReportReserved true
{% endif %}
  ValuesAbsolute true
  ValuesPercentage true
  ReportInodes true
</Plugin>
