# {{ ansible_managed }}

<Plugin "interface">
{% for interface in ubuntu_1604_collectd_plugin_interface_interfaces | default([]) %}
  Interface "{{ interface }}"
{% endfor %}
  IgnoreSelected false
</Plugin>
