{{ ansible_managed | comment }}

<Plugin "interface">
{% for interface in collectd_plugin_interface_interfaces | default([]) %}
  Interface "{{ interface }}"
{% endfor %}
  IgnoreSelected false
</Plugin>
