{{ ansible_managed | comment }}

LoadPlugin network

<Plugin "network">
{% for item in collectd_plugin_network_servers | default([]) %}
  <Server "{{ item.server }}" "{{ item.port | default(25826) }}">
{% if item.security_level | default('None') != 'None' %}
    SecurityLevel "{{ item.security_level }}"
    Username "{{ item.username }}"
    Password "{{ item.password }}"
{% endif %}
  </Server>
{% endfor %}
</Plugin>
